/* Write your CSS here */
.eachsuggestioncon {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}
.suggestionstyle {
  font-family: 'Roboto';
  color: #64748b;
}
.arrow {
  width: 20px;
  height: 20px;
}
